body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #31854d;
    padding: 10px 20px;
    color: white;
}

.logo {
    height: 50px;
    background-color: #31844d;
}

.name-buttons {
    /*padding-right: 1150px;*/
    display: flex;
    gap: 20px;
}
.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-button {
    background-color: grey;
    border: none;
    padding: 6.5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button img {
    height: 20px;
}

/* TEST */
.dropdown {
    position: relative;
    display: inline-block;
}
/* TEST */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #82D66D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* TEST */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* TEST */
.dropdown-content a:hover {
    background-color: #6ea11c;
}
/* TEST */
.dropdown:hover .dropdown-content {
    display: block;
}
/* TEST */
.name-buttons button {
    background-color: #276a3a;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-family: Georgia;
    font-size: 18px;
}

.name-buttons button:hover {
    background-color: #276b3a;
    color: white;
}

/* Back button styling */
.back-button {
    display: inline-block;
    background-color: #276b3a;
    color: white;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 80px;
    margin: 1em auto;
    font-size: 16px;
}

.back-button:hover {
    background-color: #388e3c;
}