<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="allPages.css">
    <title>Danmark mod Madspild Homepage</title>

</head>
<body>
    <div class="banner">
        <img src="pictures/img.png" alt="Logo" class="logo">
        <div class="name-buttons">
            <button>Forbruger</button>
            <button>Virksomhed</button>
            <button>Organisation</button>
        </div>
        <div class="search">
            <input type="text" placeholder="Søg...">
            <button class="search-button">
                <img src="magnifying-glass.png" alt="Søg">
            </button>
        </div>
    </div>
    <div clas="content">

    </div>
<!-- Batul kode herunder -->
</body>
</html>