<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/allPages.css">
    <title>Danmark mod Madspild Homepage</title>

</head>
<body>
    <div class="banner">
        <img src="/pictures/FoodWaste.png" alt="Logo" class="logo">
        <div class="name-buttons" style="padding-right: 750px;">
            <div class="dropdown">
                <button>Forbruger</button>
                <div class="dropdown-content">
                    <a href="/forbruger/opskrifter">Opskrifter</a>
                    <a href="/forbruger/tips">Tips i holdbarhed</a>
                </div>
            </div>
            <div class="dropdown">
                <button>Virksomhed</button>
                <div class="dropdown-content">
                    <a href="/virksomhed/sporing">Sporingsværktøj</a>
                    <a href="/virksomhed/donation">Donation</a>
                </div>
            </div>
            <div class="dropdown">
                <button>Organisation</button>
                <div class="dropdown-content">
                    <a href="/organisation/madspildgård">Madspild til gårde</a>
                    <a href="/organisation/madspildhjemløse">Madspild til hjemløse</a>
                </div>
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="Søg...">
            <button class="search-button">
                <img src="magnifying-glass.png" alt="Søg">
            </button>
        </div>
    </div>
    <div class="homePicture">
        <img src="">
    </div>
</body>
</html>