<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bannerItems.css">
  <link rel="stylesheet" href="/madspilgård.css">
  <title>Danmark mod Madspild Homepage</title>

</head>
<body>
  <div th:replace="fragments/banner :: banner"></div>
<!-- page's kode herunder -->

  <main>
    <h1>Liste over gårde som accepterer madspild som dyrefoder</h1>
    <div class="content-box">
      <p>Donér dit overskudsmad til lokale gårde og gør en forskel! Har du spiseligt madspild – som brød, grøntsager eller andet? Bidrag til at minimere madspild ved at donere det til landbrug, hvor det kan bruges som dyrefoder i stedet for at gå til spilde.</p>
    </div>

    <div class="layout">
      <div class="farm-list">
        <div class="farm-item">
          <div class="farm-info">
            <h3>Gård: Mosegård</h3>
            <p><strong>Adresse:</strong> Møllevej 23, 8740 Brårup</p>
            <p><strong>Information:</strong> Dyr: Køer, grise og høns</p>
          </div>
          <div class="farm-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2E_31EgsaHVCXWTURnVkQHegCbskjeLRDng&s" alt="Mosegård billede">
          </div>
        </div>

        <div class="farm-item">
          <div class="farm-info">
            <h3>Gård: Lundegaard</h3>
            <p><strong>Adresse:</strong> Skovbrynet 14, 4573 Møllekær</p>
            <p><strong>Information:</strong> Dyr: Får, geder og ænder</p>
          </div>
          <div class="farm-image">
            <img src="https://www.fritidsmarkedet.dk/assets/imagecache/930x580/agrar/111068_1-0AB9CF18A3AD0E13E1E1206589DD46FF.jpg" alt="Lundegaard billede">
          </div>
        </div>
      </div>

      <aside class="sidebar">
        <h3>Søg på gårde nær dig...</h3>
        <ul>
          <li>Egebakkegård (8,5 km)</li>
          <li>Engtoftegård (9,3 km)</li>
          <li>Solbakkegård (10,5 km)</li>
        </ul>
      </aside>
    </div>
  </main>

  <div th:replace="fragments/footer :: footer"></div>

</body>
</html>