<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bannerItems.css"> <!-- DON'T DELETE! -->
  <link rel="stylesheet" href="/forside.css"> <!-- bruge den tilhørende CSS -->
  <title>Danmark mod Madspild Homepage</title>

</head>
<body>
<!-- Banner DON'T DELETE! -->
<div th:replace="fragments/banner :: banner"></div>

<!-- page's kode her -->

<!-- Footer DON'T DELETE! -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>